<div>
  <% @posts.each do |post| %>
    <p>------------------------------------------------------------------</p>
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
  <% end %>
  <p>------------------------------------------------------------------</p>
</div>