/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  text-align: center;
  letter-spacing: -1px;
  font-family: 'cwTeXHei', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center
}

.container {
  margin: 0;
  width: 100%;
  padding: 0 2%;
}

header {
  color: white;
  font-weight: bold;
  height: auto;
  background-color: black;
  position: relative;
  a { color: white; }
}

li {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;

  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.form {
  text-align: left;
  padding: 0 30%;
  div {
  	margin-bottom: 4px;
  	margin-left: 8px;
  }
  .btn {
  	margin-bottom: 4px;
  }
}

form > label {
  width: 100%;
  font-size: 1.5em;
}

form > input {
  width: 100%;
  margin-bottom: 12px;
}

#account {
  text-align: left;
  padding: 0 40%;
}

.alert {
  text-align: left;
  border-radius: 8px;

  margin: 0 30%;
}

.post {
  text-align: left;
  margin: 0 30%;
  padding:  12px 24px;
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 12px;
}

h2 {
  margin-top: 0px;
}